html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.4;
}

svg {
  width: 64px;
  height: 64px;
}

input[type='text'] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 3px solid #333;
}

form {
  width: 100%;
}

button {
  background-color: #7f8fa6;
  border: none;
  color: #7f8fa6;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 1rem;
}

h2 {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
  height: 100vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  overflow-y: auto;
}

.checklist-icon {
  margin-bottom: 10px;
}

.app-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  opacity: 0.5;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-state__title,
.empty-state__description {
  margin-bottom: 10px;
}

.todo-list:empty {
  display: flex;
}

.todo-list:empty + .empty-state {
  display: flex;
}

.wrap-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1 {
  background-color: whitesmoke;
  color: black;
  border: 2px solid #7f8fa6;
}

.button1:hover {
  background-color: #7f8fa6;
  color: white;
}
